<?xml version='1.0' encoding='utf-8'?>
<widget id="com.projectns.pckge" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<preference name="Orientation" value="portrait" />
    <name>Den</name>
    <description>
       	A simple search utility for housing.
    </description>
    <author email="aaronnech@gmail.com" href="http://cordova.io">
        Aaron Nech
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
